.ArticleDetails {
    padding: 2rem 0 5rem 0;
    font-size: 1.8rem;

    display: grid;
    grid-template-columns: 22% 56% 22%;

    &__commentsContainer {
        margin-top: 12rem;
    }

    &__comments {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0.5rem 8rem;
    }

    &__comment {
        border: 2px solid #192a56;
        width: 100%;
        padding: 0.8rem 3rem;
        border-radius: 1rem;
        text-align: center;
        box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);

        &:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }

        &__content {
            font-size: 1.7rem;
            margin-bottom: 0.4rem;
        }

        &__author {
            opacity: 0.75;
            font-size: 1.4rem;
        }
    }

    &__newComment {
        padding: 2rem 0;

        h4 {
            font-weight: 400;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;

            & p {
                font-size: 1.5rem;
            }

            & input {
                width: 45%;
                padding: 1rem;
                margin-bottom: 1.4rem;
                font-size: 1.7rem;
            }
        }
    }

    &__item {
        grid-column: 2;

        background-color: #eee;
    }

    &__img {
        width: 75%;
        height: auto;
    }

    &__title {
        font-size: 5rem;
    }

    &__info {
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        font-size: 1.8rem;
        margin: 0.5rem 0 2rem 0;
        color: #eee;

        &__item {
            background-color: #192a56;
            padding: 0.2rem 1.5rem;
            border-radius: 0.5rem;
        }
    }

    &__description {
        width: 70%;
        margin-left: 15%;
    }

    &__controls {
        display: flex;
        flex-flow: column;

        align-items: center;
    }
}

:global {
    .Button {
        width: 40%;
        font-size: 1.8rem;
        margin-bottom: 2rem;
        padding: 0.5rem 0;
        background-color: #06b664;
        border: none;
        border-radius: 0.3rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45);
        transition: all 0.15s;

        &:hover {
            color: #fff;
            transform: translateY(-0.2rem);
            box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.5);
        }

        &:focus {
            color: #fff;
            transform: scale(1.15) translateY(-0.2rem);
            box-shadow: 0 0.8rem 1rem rgba(0, 0, 0, 0.5);
        }

        &--delete {
            background-color: #ff5e57;
        }

        &--save {
            background-color: #5670b8;
            width: 30% !important;
        }
    }
}
