.ArticleEdit {
    &__title {
        font-size: 2.6rem;
        text-transform: uppercase;
        color: #5670b8;
    }
}

.ArticleForm {
    form {
        input,
        textarea,
        label,
        select,
        button,
        option {
            width: 80%;
        }
    }
}
