.Home {
    margin: 3rem 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    grid-column-gap: 7rem;
    grid-row-gap: 3rem;
}

.Category {
    font-size: 4rem;
    font-weight: 400;
    margin-top: 2rem;
}

:global {
    .Margin {
        &--right {
            margin-right: 1.5rem;
        }
    }
}
